

  <h3>Valida información del producto</h3>
  <hr>
  <form [formGroup]="productoFormulario">
    <div class="row">

      <div class="col-md-4">
        <div class="form-group">
          <label for="sel1">Nombre:</label>
          <input  type="form-control" name="" formControlName="Nombre" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="sel1">Codigo:</label>
          <input  type="form-control" name="" formControlName="Codigo" >
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="sel1">Talla:</label>
          <input type="form-control number"  name="" formControlName="Talla">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="sel1">Proveedor:</label>
          <input type="form-control"  name="" formControlName="Proveedor">
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-md-4">
        <div class="form-group">
          <label for="sel1">Cantidad:</label>
          <input type="form-control number"  name="" formControlName="Cantidad">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="sel1" >Precio Costo:</label>
          <input type="form-control number"  name="" formControlName="PrecioCosto">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="sel1" >Precio Venta:</label>
          <input type="form-control number"  name="" formControlName="PrecioVenta">
        </div>
      </div>

      <div class="col-md-4" >
        <div class="form-group">
          <label for="sel1">Fecha ingreso:</label>
          <input class="datepicker" type="form-control" name="" formControlName="FechaIngreso" value="">
        </div>
      </div>



    </div>

  </form>
<hr>

<button type="button" class="btn btn-secondary" >Vaciar</button>
<button type="button" class="btn btn-primary"  [disabled]="!productoFormulario.valid" (click)="addVenta()">Guardar</button>
