<div class="row" style="text-align:center">

    <h2>Productos en Stock</h2>
    <h4>Costo actual del Stock : ${{sumaCostosStock}}</h4>
    <h4>Estimado a vender : ${{sumaVentasStock}}</h4>

    <h3>Total : ${{sumaTotalesStock}}</h3>

</div>

<div class="row" style="text-align:center">

    <h2>Productos Pendientes de pago</h2>
    <h4>Costo actual del Stock : ${{sumaCostosPendiente}}</h4>
    <h4>Estimado a vender : ${{sumaVentasPendiente}}</h4>

    <h3>Total : ${{sumaTotalesPendiente}}</h3>

</div>

<div class="row" style="text-align:center">

    <h2>Productos Vendidos</h2>
    <h4>Costo : ${{sumaCostosVendido}}</h4>
    <h4>Venta : ${{sumaVentasVendido}}</h4>

    <h3>Total : ${{sumaTotalesVendido}}</h3>

</div>

<div class="row" style="text-align:center">

    <h2>Productos pedidos</h2>
    <h4>Costo : ${{sumaCostosPedido}}</h4>
    <h4>Estimado a vender : ${{sumaVentasPedido}}</h4>

    <h3>Total : ${{sumaTotalesPedido}}</h3>

</div>
